/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: #333;
    color: #fff;
}

header {
    background: #6C704D;
    color: #fff;
    padding: 2rem 0;
}

header .logo {
    max-width: 150px;
}

header h1 {
    margin: 0.5rem 0;
}

header p.lead {
    font-size: 1.25rem;
    color: #8E7348;
}

.competencies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competency {
    background: #8E7348;
    color: #fff;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.competency h3 {
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
}

.bubble-description {
    background: #D3C89F;
    color: #333;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 0.5rem;
}

.instagram-post {
    background: #8E7348;
    color: #fff;
    margin: 1rem auto;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instagram-post img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.instagram-post p {
    padding: 1rem;
    background: #D3C89F;
    color: #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
}

footer {
    background: #6C704D;
    color: #fff;
    padding: 1rem 0;
}

footer a {
    color: #8E7348;
    text-decoration: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
